*{
    margin:0 auto;
}
header{
    width:100%;
    height:218px;
    background-color:#00A6CC;
}
nav{
    float:left;
}
nav ul {
    margin-bottom:-1%;
}

nav ul li{
    display:inline;
    list-style: none;
    margin-left:10px;
}
nav ul li a{
    text-decoration:none;
    font-size:30px;
    color:#88E3FF;
    padding:5px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 2px;
}
nav ul li a:hover{
    background-color:#21697F;
    opacity:0.5;
}
#status{
    float:right;
    width:20%;
    background-color:#1FD6FF;
    border-radius:100px;
    padding:2%;
    margin-top:2%;
    margin-right:3%;
    color:#AAFFF4;
    font-family:'Roboto', sans-serif;
    font-size:17px;
   
}
#Team4{
    margin-left: 40%;
    margin-top: -21%;
    padding-bottom: 12.5%;
    font-family:'Roboto Condensed', sans-serif;
    font-size:40px;
    color:#AAFCFF;
}
#logo img{
    margin-left:6%;
}
#headerPrincipale img{
    margin-top:1%;
    width:29%;
}
#social ul {
    margin-top:-11%;
}
#social ul li{
    list-style: none;
    display:inline;
    margin-left:12%;
}
#social ul li a{
    text-decoration: none;
    color:#22F8FF;

}
#social ul li a:hover{
    text-decoration: none;
    opacity:0.5;

}
#social{
    clear: both;
    float: right;
    width:33%;
    padding-top:1%;
    
}
#mappa {
    width:100%;
    height:400px;
}
#headerbottom{
    width:100%;
    background-color:#3AB3EB;
    
}
#position{
    font-family:'Roboto Condensed', sans-serif;
    font-size:20px;
    text-align:center;
    color:#AAFCFF;
    padding-top:2%;
}
main{
    width:100%;
    background-color:#3AB3EB;
    float:left;
    padding-bottom:7%;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

td, th {
    border: 1px solid #004749;
    text-align: left;
    padding: 8px;
    color:#002530;
}

tr:nth-child(even) {
    background-color: #14CCEB;
}
.meteostats{
    text-align:center;
    padding-top:3%;
}
.meteostats img{
    width:11%;
}
.meteostats h1{
    font-family:'Roboto', sans-serif;
    font-size:40px;
    color:#00E2F2;
}
#maininfo{
    padding-bottom:2%;
    color:#00E2F2;
    font-size:30px;
    font-family:'Roboto', sans-serif;

}
footer{
    width:100%;
    height:150px;
    background-color:#00302F;
    clear:both;
}
footer ul{
    margin-left:5%;
}
footer ul li{
    list-style:none;
    display:inline;
    margin-left:2%;
}
footer ul li a{
    text-decoration:none;
    font-size:20px;
    color:#36A1AF;
    
}
#navfooter{
    padding-top:3%;
    float:right;
    color:#36A1AF;
}
#copyright{
    color:#6FABB2;
    clear:both;
    padding-top:1%;
    width:80%;
}
    
