.bg-nav {
    background-color:  #00a6cc;
    box-shadow: 0px 4px 8px grey;
}

.jumbotron {
    background-color: #fff;
}

#mappa {
    height: 300px;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog {
    max-width: 90%;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div.row p.col-md input, div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div.row p.col-md textarea, div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div p.col-md.row label {
    width: 100%;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div p.col-md.row input.col-md {
    max-width: 5%;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-footer div.row {
    width: 50%;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-footer div.row input.btn.col-md {
    margin: 0% 1%;
}