.bg-nav {
    background-color:  #00779b;
}

body {
    background-color: #00a6cc;
    color: white;
}

.jumbotron {
    background-color: #00a6cc;
    color: white;
    margin-bottom: 0px;
}

#mappa {
    height: 300px;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog {
    max-width: 90%;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content{
    background-color: #00a6cc;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div.row p.col-md input, div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div.row p.col-md textarea, div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div p.col-md.row label {
    width: 100%;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div p.col-md.row label a {
    color: #000000;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-body div.subcontainer form div p.col-md.row input.col-md {
    max-width: 2%;
    align-self: center;
    transform: translateY(-5px);
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-footer div.row {
    width: 50%;
}
div.container-fluid main.padding-custom div#modale div.modal-dialog div.modal-content div.modal-footer div.row input.btn.col-md {
    margin: 0% 1%;
}
.container-fluid {
    padding: 0px;
}

.padding-custom {
    padding: 32px;
}

#mappa {
    height: 300px;
}

.bg-footer{
    background-color:  #00a6cc;   
}
.separator{
    margin: 0 15%;
}

#socialMedia{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.container-fluid hr {
    margin: 0px;
    padding: 0px;
}

.jumbotron h5 span:first-child {
    margin-bottom: 10px;
}


