.bg-nav {
    background-color:  #00779b;
}

body {
    background-color: #00a6cc;
    color: white;
}

.jumbotron {
    background-color: #00a6cc;
    color: white;
    margin-bottom: 0px;
}

.container-fluid {
    padding: 0px;
}

.padding-custom {
    padding: 32px;
}

#mappa {
    height: 300px;
}

.bg-footer{
    background-color:  #00a6cc;   
}
.separator{
    margin: 0 15%;
}

#socialMedia{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.container-fluid hr {
    margin: 0px;
    padding: 0px;
}

.jumbotron h5 span:first-child {
    margin-bottom: 10px;
}


